@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito&family=Ranchers&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color1-pale-silver: hsla(38, 8%, 73%, 1);
  --color-2-yellow-munsell: hsla(51, 85%, 52%, 1);
  --color3-red-orange-color-wheel: hsla(15, 100%, 50%, 1);
  --color4-portland-orange: rgb(248, 136, 105);
  --color5-rich-black-fogra-39: hsla(180, 20%, 4%, 1);
  --header-font: "Ranchers", cursive;
  --sub-header-font: "Krona One", sans-serif;
  --content-font: "Nunito", sans-serif;
}

a:link {
  color: var(--color5-rich-black-fogra-39);
  text-decoration: none;
}

a:visited {
  color: var(--color5-rich-black-fogra-39);
}

article {
  width: 600px;
  height: 250px;
  border-radius: 20px;
}

article:hover {
    transform: scale(1.1);
}

body {
  background-color: var(--color1-pale-silver);
}

h1 {
  font-family: var(--header-font);
  font-size: 50px;
}

li {
  list-style: none;
  font-family: var(--content-font);
  text-align: center;
}

.truck-info:nth-child(even) {
  background-color: var(--color4-portland-orange);
}

.truck-info:nth-child(odd) {
  background-color: var(--color3-red-orange-color-wheel);
}
