<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/style.css"/>


    <title>Food Truck Frenzy</title>
</head>

<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <button type="button">Submit</button>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="/images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="/images/header-pic.png"/>
    </div>
    <!-- <p>Vendor Log-In</p> -->
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
    </ul>
</nav>

<body>

<div class="single-vendor">
    <h2 th:text="${vendors.name}"></h2>
    <img class="ray-ray-pic" th:src="${vendors.imagePath}" alt="Vendor Image"/>
    <div class="single-vendor-info-layout">
        <div class="single-vendor-info">
            <a th:href="${vendors.menuLink}" href="https://www.rayrayshogpit.com/" target="_blank">Menu Link</a>
            <p th:text="${vendors.getNextLocation().address}">2619 N High St, Columbus, OH 43202</p>
            <p th:text="${vendors.bio}">Bio about Ray Ray</p>
            <ul class="hours">
                <li th:each="location:${vendors.getNext7DayLocations()}"
                    th:text="${location.getDayOfWeekString()} + ' ' + ${location.openHours}">
                </li>

            </ul>
        </div>

        <div class="google-map">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12222.710631860731!2d-83.0119444!3d40.0156472!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdd59ddd5b5cdbbf!2sRay%20Ray&#39;s%20Hog%20Pit%20Clintonville!5e0!3m2!1sen!2sus!4v1595948884722!5m2!1sen!2sus"
            ></iframe>
        </div>
    </div>
        <div class="upcoming-events">
            <h3>Upcoming Events test</h3>
            <a th:href="@{'/events/'+${vendors.getNextEvent().name}}">
            <p th:text="${vendors.getNextEvent().name}"></p></a>
        </div>
    <div class="vendor-edit-form">
        <form action="/locations" method="POST">
            <div class="vendor-input-form">
                <input type="hidden" th:value="${vendors.id}" name="vendorId"/>
                <input name="address" type="text" placeholder="Enter Address"/>
                <input type="hidden" th:value="0.00" name="latitude"/>
                <input type="hidden" th:value="0.00" name="longitude"/>
                <input type="date" name="date"/>
                <input type="text" name="openHours" placeholder="Open Hours"/>
                <label for="recurring">Recurring Weekly:</label>
                <input name="recurring" type="checkbox" id="recurring"/>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
