<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/layout.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

    <title>Food Truck Frenzy</title>
</head>

<body>

<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <button type="button">Submit</button>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="./images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="./images/header-pic.png"/>
    </div>
    <!-- <p>Vendor Log-In</p> -->
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
    </ul>
</nav>

<div class="food-truck-list">
    <a th:each="event:${events}" th:href="@{'/events/{name}'}">
        <article class="truck-info">
            <div class="truck-image-1"></div>
            <div class="information">
                <ul class="home-list">
                    <li><strong th:text="${event.name}"></strong></li>
                    <li th:text="${event.address}"></li>
                    <li th:text="${event.date}"></li>
                    <li th:text="${event.times}"></li>
                </ul>
            </div>
        </article>
    </a>

</div>
</body>
</html>
