<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Food Truck Frenzy</title>
</head>
<body>
<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <a th:href="@{'/new-vendor'}">
            <button type="button">Submit</button></a>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="/images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="/images/header-pic.png"/>
    </div>
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/locations'}">Today's Locations</a>
        </li>
    </ul>
</nav>



<div class="single-vendor">
    <h2 th:text="${events.name}">Hometown Market</h2>
    <img
            class="ray-ray-pic"
            src="/images/HometownMarket.jpg"
            alt="Hometown Market"
    />

    <div class="single-event-info-layout">

        <div class="single-event-info">
            <p th:text="${events.getDateString()}"> </p><br/>
            <p th:text="${events.address}"> </p><br/>
            <p th:text="${events.times}"> </p><br/>
            <h3>Food Trucks</h3>
            <ul th:each="vendor:${events.vendors}" class="hours">
                <li th:text="${vendor.name}">Schmidt's Food Truck</li>
            </ul>
        </div>

        <div class="google-map" id="map">

        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    const latitude = /*[[${events.latitude}]]*/ 39.8938155;
    const longitude = /*[[${events.longitude}]]*/ -83.8087237;
    /*]]>*/
</script>
<script src="/js/map.js"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv1a-eDhLKuupUpyXmy0TD9chjD_GZJvg&callback=initMap"
        defer
></script>
</html>
