<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Food Truck Frenzy</title>
</head>
<body>
<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <a th:href="@{'/new-vendor'}">
            <button type="button">Submit</button></a>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="/images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="/images/header-pic.png"/>
    </div>
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
    </ul>
</nav>



<div class="single-vendor">
    <h2 th:text="${events.name}">Hometown Market</h2>
    <img
            class="ray-ray-pic"
            src="/images/HometownMarket.jpg"
            alt="Hometown Market"
    />

    <div class="single-event-info-layout">

        <div class="single-event-info">
            <p th:text="${events.getDateString()}"> </p><br/>
            <p th:text="${events.address}"> </p><br/>
            <p th:text="${events.times}"> </p><br/>
            <h3>Food Trucks</h3>
            <ul th:each="vendor:${events.vendors}" class="hours">
                <li th:text="${vendor.name}">Schmidt's Food Truck</li>
            </ul>
        </div>

        <div class="google-map">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.8913117190314!2d-82.70569313510926!3d40.300372170632784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88384e4321116839%3A0x37f7e93868f6a0e3!2s3895%20Columbus%20Rd%2C%20Centerburg%2C%20OH%2043011!5e0!3m2!1sen!2sus!4v1595951867063!5m2!1sen!2sus"
            ></iframe>
        </div>
    </div>
</div>
</body>
</html>
