<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/layout.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

    <title>Food Truck Frenzy</title>
</head>

<body>

<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <button type="button">Submit</button>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="./images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="./images/header-pic.png"/>
    </div>
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" href="index.html">Home</a>
        </li>
        <li>
            <a class="nav-bar" href="all-vendors-page.html">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" href="all-events-page.html">Upcoming Events</a>
        </li>
    </ul>
</nav>

<div class="upcoming-event-main">
    <a href="#">
        <article class="event-main">
            <div class="main-event-pic"></div>
            <div class="information">
                <ul class="home-list">
                    <li><h3>Upcoming Event!</h3></li>
                    <li><strong>Cousins Maine Lobsters</strong></li>
                    <li>August 2, 2020</li>
                    <li>12:00 PM - 5:00 PM</li>
                    <li>Homestead Beer Co.</li>
                    <li>811 Irving Wick Dr W, Heath, OH 43056, USA</li>
                </ul>
            </div>
        </article>
    </a>
</div>
</body>
</html>

