<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/style.css"/>


    <title>Food Truck Frenzy</title>
</head>

<body>

<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <button type="button">Submit</button>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="/images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="/images/header-pic.png"/>
    </div>
    <!-- <p>Vendor Log-In</p> -->
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/locations'}">Today's Locations</a>
        </li>
    </ul>
</nav>


<h2>Today's Locations</h2>

<div class="map-page">
    <div class="map-container">
        <iframe class="map"
                src="https://www.google.com/maps/d/u/0/embed?mid=1QFVso-TBWrI4O7XI0eYIp63H9VB_j8Hi"></iframe>
    </div>

    <div class="calender">
        <iframe class="google-calender" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=bWIzbW5hdmlwdTQwdnYwMnVzaDJzZWxidjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23EF6C00&amp;showTitle=1&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTz=0&amp;mode=AGENDA&amp;showTabs=0&amp;showCalendars=0"></iframe>
    </div>
</div>
</body>
</html>