<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/style.css"/>


    <title>Food Truck Frenzy</title>
</head>

<body>

<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <button type="button">Submit</button>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="/images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="/images/header-pic.png"/>
    </div>
    <!-- <p>Vendor Log-In</p> -->
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/locations'}">Today's Locations</a>
        </li>
    </ul>
</nav>

<h2>Today's Locations</h2>
<div class="map">
    <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJwxyZw0XPB3t4h9J2A2k3lWa7LIFydmg
    &q=Columbus+OH" allowfullscreen>
    </iframe>
</div>

</body>
</html>