<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Food Truck Frenzy</title>
</head>


<body>

<div class="vendor-login">
    <p>Vendor Log-In</p>
    <form class="vendor-input">
        <input type="text" placeholder="Enter Vendor Name"/>
        <input type="password" placeholder="Enter Password"/>
        <a th:href="@{'/new-vendor'}">
            <button type="button">Submit</button></a>
    </form>
</div>

<header>
    <div class="header">
        <img class="header-pic" src="/images/header-pic.png"/>
        <h1>Food Truck Frenzy</h1>
        <img class="header-pic" src="/images/header-pic.png"/>
    </div>
</header>

<nav>
    <ul>
        <li>
            <a class="nav-bar" th:href="@{'/'}">Home</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/vendors'}">All Food Trucks</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/events'}">Upcoming Events</a>
        </li>
        <li>
            <a class="nav-bar" th:href="@{'/locations'}">Today's Locations</a>
        </li>
    </ul>
</nav>

<h2>New Event Form</h2>
<div class="new-vendor-edit-form">
    <form action="/events" method="POST">
        <div class="vendor-input-form">
            <input name="name" type="text" placeholder="Enter Event Name"/>
            <input name="date" type="date" placeholder="Enter Event Date"/>
            <input name="imagePath" type="text" placeholder="Enter Event Image"/>
            <input name="address" id="autocomplete" type="text" placeholder="Enter Address" onFocus="geolocate()"
                   required/>
            <input type="hidden" name="latitude" id="latitude" required/>
            <input type="hidden" name="longitude" id="longitude" required/>
            <input name="times" type="text" placeholder="Enter Event Time"/>
            <input name="locationName" type="text" placeholder="Enter Event Location Name"/>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
<script src="/js/autocomplete.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv1a-eDhLKuupUpyXmy0TD9chjD_GZJvg&libraries=places&callback=initAutocomplete"
        defer
></script>
</html>